<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenuController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A75D6F5B1E93D79000B985BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75D6F6F1E93D79000B985BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75D6F7A1E93D79000B985BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
